/* Barre de navigation fixée en haut */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    height: 80px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Conteneur pour le logo et le lien Home */
.logo-home-container {
    display: flex;
    align-items: center;
    position: relative;
}

.logo-home-container img {
    height: 80px;
    width: auto;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-left: 180px;
    gap: 5px;
}

.home-link svg {
    color: rgba(128, 128, 128, 0.5);
}

/* Conteneur principal de la page de connexion */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f8fa;
    padding-top: 100px; /* Espace pour la barre de navigation */
}

.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    max-width: 100%;
    height: auto;
}

.login-form {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    margin-right: 100px;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

p {
    color: #6c757d;
    margin-bottom: 2rem;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    position: relative;
    border-radius: 8px;
    height: 50px;
}

.input-group input {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.icon {
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.effacer-formulaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.effacer-formulaire a {
    color: #6c63ff;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-btn {
    width: 100%;
    height: 45px;
    padding: 0.75rem;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #5a54d9;
}

.danger {
    height: 2px;
    color: red;
    font-size: 12px;
    bottom: 20px;
}
